{% extends "::layout.html.twig" %}
{% block title %}
	Tukmania!
{% endblock title %}

{% block content %}
<div id="content">
	<div id="banner-logo">
	
	</div>
	<div id="logo">
		
	</div>
</div>
{% endblock content %}

